@use "./variables" as v;
@use "./mixins" as m;

.advantages {
  width: 100%;
  @include m.wrapper;
  padding: 20px 20px 49px;
}

.advantages__title {
  margin-bottom: 40px;
  color: v.$color-font;
  @include m.title;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages__item {
  display: flex;
  gap: 20px;
}

.advantages__icon {
  min-width: 60px;
  height: 60px;
  background-color: v.$color-main;
  fill: v.$color-basic;
}

.advantages__text {
  color: v.$color-font3;
  @include m.text;
}